{% extends 'base.html' %}
{% load static %}
{% block content %}
<header>

    
      <!-- <div style="text-align: center; display:grid; place-items:center;"></div> -->
      <ul class="recipes" style="display: inline;">
      
        <li class="recipe" >
          <img src="{% static 'images/download.png' %}"  alt="Account Management">
          <a href='/account'><h4>Account Service</h4></a>
          
          
        </li>
        <li class="recipe" >
          <img src="{% static 'images/card.png' %}" alt="Card Management">
          <a href='/cards'><h4>Cards service</h4></a>
          
          
        </li>
        <li class="recipe" >
          <img src="{% static 'images/loan.png' %}" alt="Loans">
          <a href='/loans'><h4>Loan Portal</h4></a>
          
          
        </li>
        <li class="recipe" >
          <img src="{% static 'images/All customers.png' %}" alt="Customers">
          <a href=''><h4>All Customers</h4></a>
          
        </li>
       
      </ul>
      
      

  </header>
{% endblock %}