{% extends 'base.html' %}

{% block content %}
<header>

    
      <!-- <div style="text-align: center; display:grid; place-items:center;"></div> -->
      <ul class="recipes" style="display: inline;">
      
        <li class="recipe" >
          <img src="" alt="Account Management">
          <a href=''><h4>Account Service</h4></a>
          
          
        </li>
        <li class="recipe" >
          <img src="" alt="Card Management">
          <a href=''><h4>Cards service</h4></a>
          
          
        </li>
        <li class="recipe" >
          <img src="" alt="Loans">
          <a href=''><h4>Loan Portal</h4></a>
          
          
        </li>
        <li class="recipe" >
          <img src="" alt="Customers">
          <a href=''><h4>All Customers</h4></a>
          
        </li>
       
      </ul>
      
      

  </header>
{% endblock %}